@using wellbeing.Models.UI.View.Users
@model UserViewModel

<form>
  <div class="form-group">
    <label for="formGroupExampleInput"> First Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Last Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Age</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
</form>