@using wellbeing.Models.UI.Page.Authentication
@model StartPasswordResetPageModel
@{
    ViewBag.Title = "Password Reset";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <h2 class="mt-4">Reset Your Password</h2>

            <div class='row m-0'>
                @await Html.PartialAsync("~/Views/Shared/_Errors.cshtml", Model)
                @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml", Model)
            </div>

            <form asp-controller="Authentication" asp-action="StartPasswordReset" method="post">
                <div class="form-group">
                    <label asp-for="EmailAddress">Email Address</label>
                    <input type="email" asp-for="EmailAddress" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                        <a asp-controller="Authentication" asp-action="Login" class="btn btn-outline-dark mt-1 me-3">Cancel</a>
                        <button type="submit" class="btn btn-primary mt-1">Start Recovery</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
